@charset "UTF-8";
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.header{
	width: 100%;
	padding: 10px 30px;
	background-color: #EE534F;
}
.header h5{
	font-weight: bold;
	font-family: verdana;
	font-size:28px;
	color: #fff;
}
.upper-btn-box{
	width:100%;
	height:100px;
	display: flex;
	padding :30px;
	
}
.upper-btn-box .left-box{
	width: 50%;
	height:100%;
	float:left;
}

.upper-btn-box .right-box {
    width: 50%;
    height: 100%;
    display: flex;
}
.upper-btn-box .right-box i {
    font-size: 25px;
    color: #4286F5;
    padding: 10px;
}
.upper-btn-box .right-box input {
    width: 70%;
    padding: 13px;
    outline: none;
    border: none;
    border-bottom: 3px solid #4286F5;
    font-size: 16px;
    font-family: verdana;
    font-weight: bold;
}
.upper-btn-box .left-box button, .upper-btn-box .rigth-box button{
	border: none;
	outline: none;
	background-color: #4286F5;
	padding: 13px;
	font-size: 18px;
	font-family: verdana;
	color: #fff;
	margin:0px 10px;
}
.upper-btn-box .rigth-box{
	width: 50%;
	height:100%;
	/*background-color: green;*/
	display: flex;
}
.upper-btn-box .rigth-box i{
	font-size: 25px;
	color: #4286F5;
	padding: 10px;
}
.upper-btn-box .rigth-box input{
	width: 70%;
	padding:13px;
	outline: none;
	border: none;
	border-bottom: 3px solid #4286F5;
	font-size: 16px;
	font-family: verdana;
	font-weight: bold;
}
/*table css*/
.table-box{
	width: 100%;
	padding: 30px;
}
.table-box table{
	width:100%;
	border: 1px solid #ccc;
	
}
.table-box table tr th{
	border-right: 1px solid #ccc;
	padding: 30px 0px 0px;
	font-family: verdana;
	font-family: 20px;
	border-bottom: 1px solid #ccc;
}
.table-box table tr td{
	border-right: 1px solid #ccc;
	padding: 10px 0px 0px;
	text-align: center;
	font-family: verdana;

	border-bottom: 1px solid #ccc;
}
.table-box table tr td button{
	width: 35%;
	border: none;
	outline: none;
	background-color: #4286F5;
	
	font-size: 18px;
	font-family: verdana;
	color: #fff;
	padding: 5px;
	margin:0px 10px;
}


/*start model coding*/
.model{
	width:0%;
	height:auto;
	background-color: #f2f2f2;
	position: fixed;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	display: flex;
	border-top: 20px groove #4286F5;
	opacity:0;
	z-index:-1;	
	transition: 0.5s ease-in-out;
}
.model.active{
	opacity:1;
	z-index:1;
	width: 60%;
}


.model .close-icon{
	position: absolute;
	right:-25px;
	top:-45px;
	font-size: 30px;
	padding: 10px;
	color: #EE534F;
}
.model .left-modal{
	width: 30%;
	height: 100%;
	background-color: #f2f2f2;
}
.model .left-modal .img-box{
	width: 100%;
	height: 300px;
	display: flex;
	padding:30px;
	position: relative;

	
}
.model .left-modal .img-box input{
	width:40px;
	height:40px;
	position: absolute;
	right:40px;
	top:90px;
	opacity: 0;
	
}
.model .left-modal .img-box i{
	font-size:30px;
	padding:10px;
	position:absolute;
	right:40px;
	top:90px;
	color:#4286F5;
}
.model .left-modal .img-box img{
	border-radius:10px;
}
.model .right-modal{
	width: 70%;
	height: 100%;
	/*background-color: green;*/
	border-left: 5px groove #4286F5;
	padding: 30px;
}


.model .right-modal .input-box{
	width:100%;
	display: flex;
	justify-content: space-between;
}
.model .right-modal .input-box label{
	font-size: 22px;
	font-weight: bold;
	font-family: sans-serif;
	margin: 20px 0px;
}
.model .right-modal .input-box input{
	width: 70%;
	margin:10px 0px;
	border:none;
	padding: 13px;
	outline: none;
	background-color: transparent;
	border-bottom: 3px solid #4286F5;
}
.model .right-modal .input-box button{
	width: 48%;
	border: none;
	outline:none;
	background-color: #4286F5;
	padding: 13px;
	font-size: 18px;
	font-family: verdana;
	color: #fff;
	margin:10px 10px
	
}
.model .right-modal .input-box button:disabled {
    filter: grayscale(80%);
}

